@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
}
body{
	font-size:1.2em;
	margin: auto
}
.header {
	text-align: center;
	background-color: gray;
	width: 1350px;
	height: 100px;
	margin: auto;
	margin-top: 5px;
}
.content {
	text-align: center;
	background-color: pink;
	width: 1350px;
	height: 650px;
	margin: auto;
	margin-top : 30px;
}
.footer {
	text-align: center;
	background-color: #ece6cc;
	width: 1350px;
	height: 100px;
	margin: auto;
	margin-top: 30px;
}