@charset "UTF-8";
body {

text-align: center;
 overflow-x:hidden;
  overflow-y:hidden;

  color:white;
  padding: 20px;
  font-family: sans-serif;
  background: #121418;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
h1{
	margin-left: 11em;
	display:flex;
	font-size: 50pt;	
	
	
	}
h2 {
  margin-bottom: .5em;
}
.child-page-listing {
	margin-bottom: 10em;
	margin-left: 10em;
	margin-right: 10em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}
 .wraps{
 margin-left:35em;
 	border-top-left-radius: 10%;
 	height: 600px; width: 600px; border: 1px solid white;
 }
 
  #hello {background-color:#121418; z-index:1; margin-left:3vh;  margin-top:3.5vh; height:600px; overflow-y: auto; border-style: dashed groove none dotted; border-bottom-style: dotted; border-color :white;  width: 600px;}
  #hello::-webkit-scrollbar { width: 5px; /*스크롤바의 너비*/ } 
  #hello::-webkit-scrollbar-thumb { background-color: black; /*스크롤바의 색상*/ } 
  #hello::-webkit-scrollbar-track { background-color: white; /*스크롤바 트랙 색상*/ }
  
	.btns{
		margin-top:-8em;
		margin-bottom:5em;
	
	}
	
	.btn1 {
		margin-left: 2em;
		margin-right: 1em;

	}

	.prolinks{
		display: inline-flex;
		float: left;
	
	}
 
 
/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}